<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.monamagdy.tayar" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.CALL_PHONE"/>


    <!--
      GET_ACCOUNTS is only required for GCM on devices running Android lower than
      4.0.4. You may leave out this permission if you are targetting 4.0.4+.
    -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="com.example.monamagdy.tayar.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.example.monamagdy.tayar.permission.C2D_MESSAGE" />

    <application
        android:name="com.example.monamagdy.tayar.starter"
        android:allowBackup="true"
        android:icon="@drawable/image2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <meta-data android:name="com.example.monamagdy.tayar.Receiver"
            android:resource="@drawable/image1"/>

        <meta-data

            android:name="com.parse.APPLICATION_ID"
            android:value="8a9obA98R1LT83MgJPqfreeTpxR1BoTLRFoRjVks" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="Q8zQDWtCGtUgP9Jkl5hu6oIhMzl3ZIUB8NmIqxA2" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            >

        </activity>
        <activity
            android:name=".splash"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CALL_BUTTON" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tel" />
            </intent-filter>

        </activity>

        <activity android:name=".login"
            android:label="Log in ">
        </activity>

        <activity android:name=".new_user"
            android:label="Create Account">
        </activity>

        <activity android:name=".notify"
            android:label="Notify">
        </activity>

        <activity android:name=".entry"
            android:label="Home Page">
        </activity>

        <activity
            android:name=".admin_view"
            android:label="Fresh Orders">
        </activity>


        <activity
            android:name=".Tayar_Landing_page"
            android:label="Home Page">
        </activity>
        <activity
            android:name=".done"
            android:label="Finsih Order">
        </activity>
        <activity
            android:name=".tayar_view"
            android:label="Home Page">
        </activity>
        <activity
            android:name=".user_history"
            android:label="History">
        </activity>
        <activity
            android:name=".user_landing_page"
            android:label="Home Page">
        </activity>

        <activity
            android:name=".admin_tayareen_summary"
            android:label="History">
        </activity>

               <activity
            android:name=".display_notification"
            android:label="Notifications">
        </activity>

        <activity
            android:name=".dial"
            android:label="Dial">
        </activity>


        <service android:name="com.parse.PushService" />
        <receiver
            android:name="com.example.monamagdy.tayar.Receiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.OPEN" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.UPDATESTATUS"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="com.example.monamagdy.tayar" />
            </intent-filter>
        </receiver>
        <meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/image1"/>
    </application>

</manifest>
